div.card {
    max-width: 350px;
    border-radius: 25px;
    padding: 30px;

    

    .card_plano {
        font-size: 1.35rem;
    }

    .card_preco {
        font-weight: 600;
        font-size: 2.5rem;
    }
    
    .card_item {
        padding: 0.58rem;
    }


    &.laranja {
        background-color: #fd7557;
    }

    &.roxo {
        background-color: rgb(50, 18, 126);
    }
}