.botao {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative;

    /* Criando duas classes */
    &.branco {
        background-color: white;
        color: black;
    }

    &.roxo {
        background-color: rgb(162, 0, 255);
        
    }

    /* Criando Animação */

    &:active {
        bottom: -2px;
    }
}